.activeNavLink {
  color: $cyan-color;
}

.nav-link {
  display: block;
  text-align: left;
  padding: 13px 20px;
  color: $white-color;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: 400;
}

.menu {
  display: none;
  justify-content: space-around;
  border-bottom: 3px solid black;
}

.desktopNav {
  position: relative;
  color: $black-color;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1px;
  &:not(:last-child):after {
    display: block;
    position: absolute;
    content: '/';
    font-size: 20px;
    top: 0;
    right: -30px;
    width: 20px;
    height: 20px;
    color: $lightgray-color;
  }
}

#mobMenuCheckbox {
  display: none;
  &:checked ~ .mobile-menu {
    visibility: visible;
    opacity: 1;
    height: 100%;
  }
}

label[for="mobMenuCheckbox"] {
  display: block;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  color: $cyan-color;
  border-bottom: 3px solid black;
}

.mobile-menu {
  position: relative;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-flow: column;
  background-color: $black-color;
  transition: all .3s ease-in;
  height: 0;
}

@media only screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }
  label[for="mobMenuCheckbox"] {
    display: none;
  }
}

