.popup-container {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.18);
  transition: all .5s ease;
}

.popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  height: 40%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 1px #333;
  font-family: Oswald, sans-serif;
}

.open {
  visibility: visible;
  opacity: 1;
}