// Atoms
//
// If atoms are the basic building blocks of matter, then the atoms of
// our interfaces serve as the foundational building blocks that
// comprise all our user interfaces. Therefore these atoms would include
// basic HTML tags like form labels, inputs, buttons, and other elements
// that can’t be broken down any further without ceasing to be functional.
//
// @source - http://atomicdesign.bradfrost.com/chapter-2/
.all-width {
  width: 100%;
}

.alert {
  display: block;
  width: 100%;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  height: 16px;
  color: red;
}

.blue-link {
  color: white;
  transition: color .3s ease;
  &:hover {
    color: $cyan-color;

  }
}

.main .bold {
  font-weight: 700;
}

.inputBlock {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  input {
    padding: 6px 5px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $black-color;
    transition: all .3s ease;

    &:focus, &:hover {
      border-color: transparent;
      box-shadow: 0 0 1px 1px;
    }
  }

  label {
    color: #333;
    font-weight: 400;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.8;
    font-size: 14px;
  }
}

input[type="file"] {
  display: none;
}

label[for="file"] {
  display: block;
  width: 140px;
  height: 40px;
  background-color: $black-color;
  font-family: Oswald, sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  margin: 20px 0;
  text-transform: uppercase;
  transition: all .3s ease;

  &:hover {
    color: #333333;
    background-color: white;
    box-shadow: 0 0 2px 2px $black-color;
  }
}

#inputForm {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

input {
  &[name="name"], &[name="email"] {
    width: 100%;
  }
}

#inputTextArea, #inputTextAreaContact {
  resize: none;
  width: 100%;
  height: 150px;
  transition: all .3s ease;
  box-sizing: border-box;
  &:focus, &:hover {
    border-color: transparent;
    box-shadow: 0 0 1px 1px;
    border-radius: 2px;
  }
}


.sendButton {
  display: block;
  width: 70px;
  height: 40px;
  background-color: $black-color;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  margin: 20px 0;
  transition: all .3s ease;

  &:hover {
    color: $black-color;
    background-color: white;
    box-shadow: 0 0 2px 2px $black-color;
  }

  &:active {
    color: $cyan-color;
  }
}

@media only screen and (min-width: 480px) {
  .half-width {
    width: 45%;
  }
}