// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.
.container {
  display: block;
  min-width: 320px;
  max-width: 1010px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.flexible {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-top: 40px;
}

.pt0 {
  padding-top: 0;
}

@media only screen and (min-width: 768px) {
  .flexible {
    flex-flow: row;
    justify-content: space-between;
  }
}